h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.4em;
    margin-bottom: 30px;
    margin-left: 20px;
    color: blue;
  }
}
body,
p,
div,
span,
li {
  font-family: "Arial";
  font-size: 16px;
}
p {
  margin-left: 20px;
}
#available-books {
  background-color: #ddd;
  padding: 5px 0 5px 0;
  margin-left: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#available-books h1 {
  font-size: 1.6em;
}
@media (min-width: 768px) {
  #available-books h1 {
    font-size: 2.0em;
    color: blue;
  }
}
