@import "variables.less";
@import "mixins.less";

//-------------- Styles --------------
h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-family: @heading-font;
    @media (min-width: @screen-tablet) {
      font-size: 2.4em;
      margin-bottom: 30px;
      margin-left: 20px;
    }
}

body, p, div, span, li {
  font-family: @body-font;
  font-size: @font-size;
}

p {
  margin-left: 20px;
}

#available-books {
  background-color: #ddd;
  padding: 5px 0 5px 0;
  margin-left: 0px;
  .rounded-corners(10px);
  h1 {
    font-size: 1.6em;
    @media (min-width: @screen-tablet) {
      font-size: 2.0em;
    }
  }
}

.book {
  .rounded-corners(2px);
  background-color: white;
  height: 300px;
  overflow: hidden;
  margin: 3px;
  padding: 5px;
  .book-title { font-size: 1.4em; font-family: @heading-font; margin-bottom: 0.6em;}
  .book-cover { float: left; margin: 0 15px 15px 0;}
  .book-description { font-weight: 300;}

}

