@import "variables.less";
@import "mixins.less";

//-------------- Styles --------------
h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-family: @heading-font;
    @media (min-width: @screen-tablet) {
      font-size: 2.4em;
      margin-bottom: 30px;
      margin-left: 20px;
    }
}

body, p, div, span, li {
  font-family: @body-font;
  font-size: @font-size;
}

p {
  margin-left: 20px;
}

#available-books {
  background-color: #ddd;
  padding: 5px 0 5px 0;
  margin-left: 0px;
  .rounded-corners(10px);
  h1 {
    font-size: 1.6em;
    @media (min-width: @screen-tablet) {
      font-size: 2.0em;
    }
  }
}
