@import "../less/bootstrap.less";

//-------------- Variables --------------
@heading-font: 'Life Savers';
@body-font: 'Open Sans';

//-------------- Mixins --------------
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

//-------------- Styles --------------
body, p, div, span, li {
  font-family: @body-font;
}

.navbar-brand {
  font-family: @heading-font;
  font-size: 2em;
}

h1 { font-family: @heading-font; font-size: 2.0em;}
h2 { font-family: @heading-font; font-size: 1.8em;}

#home-page-banner {
  background-color: white;
  color: white;
  text-shadow: 1px 1px black;

  h1 { font-family: @heading-font}

  .container {
      background-image: url('../img/scifibookstore.jpg');
      background-position: center;
  }
}

footer {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
}

#announcements {
  section {
    .make-row();
    .announcement { .make-lg-column(4);}
  }
}

#available-books {
  .make-row();
  .book {
    .make-md-column(6);
    .make-lg-column(4);
    .rounded-corners(10px);
    background-color: #666;
    border: 5px solid white;
    color: white;
  }
}

.book {
  overflow: hidden;
  margin: 0px;
  padding: 15px;
  .book-title { font-size: 1.4em; font-family: @heading-font; margin-bottom: 0.6em;}
  .book-cover { float: left; margin: 0 15px 15px 0; box-shadow: 2px 2px 3px #aaa; .hidden-xs();}
  .book-description { font-weight: 300;}
  .book-order { position: absolute; right: 15px; top: 15px; display:none; opacity: 0.9}
}

.alert {
  display: none;
}






