h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
  font-family: 'Life Savers';
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.4em;
    margin-bottom: 30px;
    margin-left: 20px;
  }
}
body,
p,
div,
span,
li {
  font-family: 'Open Sans';
  font-size: 16px;
}
p {
  margin-left: 20px;
}
#available-books {
  background-color: #ddd;
  padding: 5px 0 5px 0;
  margin-left: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#available-books h1 {
  font-size: 1.6em;
}
@media (min-width: 768px) {
  #available-books h1 {
    font-size: 2.0em;
  }
}
.book {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: white;
  height: 300px;
  overflow: hidden;
  margin: 3px;
  padding: 5px;
}
.book .book-title {
  font-size: 1.4em;
  font-family: 'Life Savers';
  margin-bottom: 0.6em;
}
.book .book-cover {
  float: left;
  margin: 0 15px 15px 0;
}
.book .book-description {
  font-weight: 300;
}
