@import "../less/bootstrap.less";
@import "variables.less";
@import "mixins.less";

//-------------- Styles --------------
body, p, div, span, li {
  font-family: @body-font;
}

.navbar-brand {
  font-family: @heading-font;
  font-size: 2em;
}

h1 { font-family: @heading-font; font-size: 2.0em;}
h2 { font-family: @heading-font; font-size: 1.8em;}

.jumbotron {
  background-color: white;
  color: white;
  text-shadow: 1px 1px black;

  h1 { font-family: @heading-font}

  .container {
      background-image: url('../img/scifibookstore.jpg');
      background-position: center;
  }
}

footer {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
}

#announcements {
  section {
    display: none;
    .make-row();
    .announcement {
      .make-lg-column(4);
    }
  }
}















