h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

h1, p {
    font-family: helvetica;
}

/*@media (min-width: 768px) {
    h1 {
        font-size: 40px;
        margin-bottom: 30px;
        margin-left: 20px;
    }
}*/
